a{
    text-decoration: none !important;
    display:block;
    color:$black;
}
.h6{
    font-size: 16px !important;
}
.h1,.h2,.h3,.h4,.h5,.h6,p{
    margin-bottom: 0 !important;
}
input:focus{
    outline:0  !important;
}