.sidebar{
    min-height: 100vh;
    min-width:296px;

}
.active{
    position: relative;
    a{
        color:$primary;
    }
    &:before{
        content: '';
        position: absolute;
        width: 4px;
        top: 0;
        bottom: 0;
        left: 0;
        top: 0;
        background-color: $primary;
    }
}


.sidebar-footer{
    .avatar{
        width: 40px;
        height: 40px; 
    }
}